<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new user</title>
</head>
<body>
<h1>New user</h1>
<form th:method="POST" th:action="@{/admin/addUser}" th:object="${userForm}">
    <div>
        <select th:field="*{authorities}" multiple>
            <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.role}"
                    th:selected="role"></option>
        </select>
        <input type="text" th:field="*{login}" placeholder="login" id="login">

        <br>
        <input type="text" th:field="*{name}" placeholder="Name" id="name">

        <br>
        <input type="text" th:field="*{surname}" placeholder="Surname" id="surname">

        <br>
        <input type="number" th:field="*{age}" placeholder="Age" id="age">

        <br>
        <input type="password" th:field="*{password}" placeholder="password"/>
        <br>
        <input type="submit" value="Add user">
    </div>
</form>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>