<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Информация о пользователе</title>
    <style>table th, table td {padding: 15px;}</style>
</head>

<body>

<h1>Информация о пользователе</h1>

<table border="2">

    <tr>
        <th>ID</th>
        <th>User Role</th>
        <th>Login</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
    </tr>

    <tr th:if="${user != null}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getRoles()}"></td>
        <td th:text="${user.getLogin()}"></td>
        <td th:text="${user.getFirstName()}"></td>
        <td th:text="${user.getLastName()}"></td>
        <td th:text="${user.getAge()}"></td>
    </tr>

</table>

<button onclick="location.href='/logout'">Logout</button>

</body>
</html>